* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: monospace;
  background-color: lightgrey;
  padding: 2px;
}

a {
  color: rgb(61, 107, 193);
}

input {
  font-size: 1em;
  padding: 10px;
  border: 1px solid black;
  width: 25em;
  margin-right: 1em;
  border-radius: 5px;
}

button {
  font-size: 1em;
  padding: 10px;
  border: 1px solid black;
  background-color: #3d6bc1;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  max-width: 70%;
}

.full-height {
  height: 100dvh;
}

.center-text {
  text-align: center;
}

.small-text {
  font-size: 0.7em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  border: 1px solid red;
  background-color: lightcoral;
  color: white;
}

.error::placeholder {
  color: white;
}

.hidden {
  display: none;
}

.thanks {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 90%;
  }

  input {
    margin-right: 0;
    margin-bottom: 1em;
    width: 100%;
  }

  button {
    width: 100%;
  }

  .flex {
    flex-direction: column;
  }
}
